.main {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.headResults {
  padding: 1.5rem;
}

.wrapPagination{
  display: flex;
  justify-content: center;
}
.pagination{
  margin: 1.5rem;
}

.justifyGrid{
justify-content: flex-end;
align-items: center;
}


@media (max-width: 600px){
  .justifyGrid{
    margin-top: 1rem ;
justify-content: space-between;
align-items: baseline;


}
}
